@{
    ViewBag.Title = "SearchMedia";
    Layout = "BasicLayout";
}
<audio controls id="nyaudio" preload="auto">
    <source src="~/audio/error.mp3" type="audio/mpeg">
</audio>
<br />
<table id="searchtable">
    <caption>Sök media i databasen</caption>
    <tr>
        <th>Sök med autocomplete</th>
        <th>Sök med valfria sökord</th>
    </tr>
    <tr>
        <td>I rutan nedan sök med autocomplete</td>
        <td>I rutan nedan sök med valfria sökord</td>
    </tr>
    <tr>
        <td>
            <div class="ui-widget">
                <input id="taggs">
            </div>
        </td>
        <td>
            <div>
                <input type="text" id="sokruta" name="sokruta" placeholder=" Fritext... ">
            </div>
        </td>
    </tr>
</table>
<br />
<div id="genModal" class="genmodal">
    <span class="myclose" onclick="closeall();">&times;</span>
    <div id="rightspalt">
        <div id="typ"></div>
        <div id="story"></div>
        <div id="year"></div>
    </div>
    <div id="leftspalt">
        <img class="videomodal-content" id="img01">
        <div id="videocaption"></div>
    </div>
</div>
<br />
<br />
<div id="centrerat">
    <br />
    <div id="result" class="lead"></div>
    <br />
    <div id="tabell"></div>
    <br />
    <br />
    <div class="red-text-danger"><p>@ViewBag.Message</p></div>
    <br />
    <br />
</div>
<br />
<br />
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/getmedia.js"></script>
<script src="~/js/allamedia.js"></script>
